*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 100%);
}

#quote-box {
    background-color:#fff;
    /* border:black solid 1px; */
    border-radius: 10px;
    min-height:220px;
    width:500px;
    margin:20vh auto;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, .2);
    padding:30px;
    display:flex;
    flex-direction: column;
    
}

#text{
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
    display: block;
    /* max-width: ; */
}
#text i{
    font-size:38px;
    margin-right: 15px;
}
#author{
    display: block;
    align-self: flex-end;
    margin:30px 0 15px 0;
}

.twitter a{
    color:white;
    text-decoration: none;
}
.twitter:hover a{
    color:white;
    text-decoration: none;
}
